/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
*, 
input,
button {
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
/* Header */

.menu {
    display:flex;
    justify-content: space-between;
    height: 48px;
    width: 100%;
    align-items: center;
}

.menu_section {
    display: flex;
    align-items: center;
}

.menu_section.left .menu_icon {
    padding: 12px 16px;
}

.menu_link {
    text-decoration-line: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #757575;
    padding: 12px 8px;
}

.active {
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
}

.menu_link:not(.active) {
    margin-bottom: 2px;
}

.menu_section.right {
    margin-right: 4px;
}

.menu_section.right .menu_icon {
    padding: 12px;
}

.menu_profile {
    padding: 4px;
    width: 40px;
    margin-top: 5px;
    margin-right: 10px;
    height: 40px;
    position: relative;
}

.menu_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* position: relative; */
}

.menu_avatar--frame {
    position: absolute;
    top: 0;
    left: 0;
}

/* Main */

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin-top: 210px;
}

.content_logo {
    width: 272px;
    height: 92px;
}

.content_search {
    margin-top: 25px;
    width: 100%;
    height: 44px;
    max-width: 582px;
    padding: 7px 10px 8px 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.918);
    background: transparent;
    border-radius: 25px;
    border: 1px solid #dadada;
    outline: 0;
}

.content_buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px 8px 0;
}

.content_button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.content_button:focus{
    border: 1px solid #cccccc;
    -webkit-box-shadow:0 2px 3px rgba(238, 238, 238, 0.678), 0 0 5px rgba(207, 207, 207, 0.603);
       -moz-box-shadow:0 2px 3px rgba(238, 238, 238, 0.678), 0 0 5px rgba(207, 207, 207, 0.603);
            box-shadow:0 2px 3px rgba(238, 238, 238, 0.678), 0 0 5px rgba(207, 207, 207, 0.603);
}

.content_button:hover{
    border: 1px solid #cccccc;
    -webkit-box-shadow:0 1px 2px rgba(238, 238, 238, 0.678), 0 0 5px rgba(207, 207, 207, 0.603);
       -moz-box-shadow:0 1px 2px rgba(238, 238, 238, 0.678), 0 0 5px rgba(207, 207, 207, 0.603);
            box-shadow:0 1px 2px rgba(238, 238, 238, 0.678), 0 0 5px rgba(207, 207, 207, 0.603);
}

.content_button:not(:first-child) {
    margin-left: 15px;
}

.content_search:hover {
    position:relative;
    -webkit-box-shadow:0 1px 2px rgba(238, 238, 238, 0.678), 0 0 5px rgba(207, 207, 207, 0.603);
       -moz-box-shadow:0 1px 2px rgba(238, 238, 238, 0.678), 0 0 5px rgba(207, 207, 207, 0.603);
            box-shadow:0 1px 2px rgba(238, 238, 238, 0.678), 0 0 5px rgba(207, 207, 207, 0.603);
}

.content_offer {
    margin-top: 24px;
    font-size: 13px;
    padding: 6px 12px;
    color: rgba(0, 0, 0, 0.87);
}

.content_offer a {
    text-decoration: none;
    color:#1a0dab;
}

.content_offer a:hover {
    text-decoration: underline;
}

.content_offer a:not(:first-child) {
    margin-left: 5px;
}

.content_offer a:nth-child(1) {
    margin-left: 5px;
}
/* Footer */

.footer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
}

.footer_sections:not(:first-child) {
    border-top: 1px solid #dadada;
}

.footer_sections {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 44px;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.footer_section a {
    text-decoration: none;
    color: #7b7c7e;
}

.footer_section a:hover {
    text-decoration: underline;
    text-decoration-color: #7b7c7e;
}

.footer_sections.right {
    margin-right: 4px;
}

.footer_location {
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 15px;
    color: #7b7c7e;
    padding: 15px 30px;
}

.footer_links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    height: 46px;
    font-size: 14px;
    color: #7b7c7e;
    padding: 0px 30px;
}

.footer_links a:not(:first-child) {
    margin-left: 30px;
}

.footer_links a:nth-child(1) {
    margin-left: 5px;
}

/* Media Queries */

@media (max-width: 768px) {
    .content {
        margin-top: 90px;
    }
    .content_logo {
        height: 92px;
        width: 272px;
    }
    .content_search {
        height: 45px;
        width: 400px;
    }
    .footer_section {
        display:flex;
        justify-content: space-between;
        max-height: 40px;
        width: 100%;
        align-items: center;
        cursor: pointer;
    }
    .footer_links {
        display: flex;
        font-size: 14px;
        height: 30px;
        margin-bottom: -20px; 
    }
    .content_offer {
        padding-top: -20px;
        font-size: 12px;
    }
    .mobile_none {
        display: none;
    }
    .footer {
        margin-bottom: 0px;
        width: 100%;
        height: 80px;
        
    }
};